.text-upper {
	text-transform: uppercase;
}

.text-Capital {
	text-transform: capitalize;
}

.EventTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.EventTable th,
.EventTable td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.EventTable td:nth-child(1) {
	width: 100px;
	
}
.EventTable td:nth-child(1) img {
	width: 100px;
	height: 50px;
}
.btn-Red{
	background-color: red;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;width: fit-content;
}